body {

  background-color: magenta;
}

img {
  clear: both;
  float: left;
  margin: 20px;
}

.kuva1 {
  clear: both;
  float: left;
  margin: 20px;
}

.kuva2 {
  clear: both;
  float: right;
  margin: 20px;
}

p {
  font-size: 26px;
}

h1 {
  font-size: 44px;
}

table {
  border-collapse: collapse;
  width: 50%;
  tr:hover {background-color: yellow;}
}

th {
  border: 1px solid black;
  background-color: #F00000;

}

td {
  border: 1px solid black;
}

tr {
  hover {background-color: yellow;}
}

tr:nth-child(even) {
  background-color: #FFF000;
}
